.app {
  overflow: hidden;
}

.layoutManager {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.childCol {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  text-align: center;
}

th {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  text-align: center;
}
.scroll-container::-webkit-scrollbar {
  width: 7px; /* Scrollbar width */
}
.scroll-container::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Track color */
}
.scroll-container::-webkit-scrollbar-thumb {
  background-color: #c1c1c1; /* Thumb color */
  border-radius: 4px;
}