.app {
  overflow: hidden;
}

.layoutManager {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.childCol {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  text-align: center;
}

th {
  width: 150px; /* Ensure header cells align with child cells */
  min-width: 150px;
  max-width: 150px;
  text-align: center;
}
